# [SPRINT 0 - T003] [SPRINT 0 - T004] Gestión de Versiones y Entornos Virtuales
venv/
venvpython/
core/venv/

# [SPRINT 0 - T003] [RNF-03] Credenciales y Configuración excluidas del repositorio
.env
.vscode/
*.log

# Python / Django
__pycache__/
*.pyc
db.sqlite3

# [SPRINT 0 - T003] Acceso rápido a subproyectos (dependencias excluidas del versionamiento)
**/node_modules/
**/build/
**/.env