# Entornos Virtuales (Seguridad T004)
venv/
venvpython/
core/venv/

# Credenciales y Configuración (RNF-03)
.env
.vscode/
*.log

# Python / Django
__pycache__/
*.pyc
db.sqlite3

# Acceso rápido a subproyectos (T010, T012)
**/node_modules/
**/build/
**/.env