# Núcleo de Django
Django==6.0.3

# Base de Datos
psycopg2==2.9.10
dj-database-url==2.3.0

# API REST y Seguridad
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
python-decouple==3.8

# Servidores Externos (Nube)
gunicorn==23.0.0
whitenoise==6.9.0

# Complementos
django-cors-headers==4.7.0
django-extensions==3.2.3
